.hanoi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 450px;
    width: 600px;
    background-color: rgb(207, 179, 243);
    position: relative;
}

.tower {
    position: relative;
}






/* abner gostoso*/

.tower::after {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 200px;
    bottom: 0;
    left: 90px;
    background: black;
    border-radius: 10px 10px 0 0;
}

.disk {
    position: absolute;
    height: 35px;
    width: 180px;
    border-radius: 15px;
    margin-left: 10px;
    z-index: 2;
    transition: all 1s;
}

.d1{
    width: 60px; margin-left: 70px;
    background: yellow;
}
.d2{
    width: 90px; margin-left: 55px;
    background: green;
}

.d3{
    width: 120px; margin-left: 40px;
    background: pink;
}

.d4{
    width: 150px; margin-left: 25px;
    background: red;
}

.d5{
    background: blue;
}

.t1 {
    left: 0;
}

.t2 {
    left: 200px;
}

.t3 {
    left: 400px;
}

.p1 {
    bottom: 0px;
}

.p2 {
    bottom: 35px;
}

.p3 {
    bottom: 70px;
}

.p4 {
    bottom: 105px;
}

.p5 {
    bottom: 140px;
}