body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.hanoi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 450px;
    width: 600px;
    background-color: rgb(73, 202, 202);
    position: relative;
}

.tower {
    position: relative;
    cursor: pointer;
}

.tower:hover {
    background: #99F;
}

.tower::after {
    content: " ";
    display: block;
    position: absolute;
    width: 20px;
    height: 200px;
    bottom: 0;
    left: 90px;
    background: black;
    border-radius: 10px 10px 0 0;
}

.disk {
    position: absolute;
    height: 35px;
    width: 180px;
    border-radius: 15px;
    margin-left: 10px;
    z-index: 2;
    transition: left 0.2s, bottom 0.2s 0.2s;
    pointer-events: none;
}

.d1 {
    width: 60px;
    margin-left: 70px;
    background: yellow;
}

.d2 {
    width: 90px;
    margin-left: 55px;
    background: green;
}

.d3 {
    width: 120px;
    margin-left: 40px;
    background: black;
}

.d4 {
    width: 150px;
    margin-left: 25px;
    background: red;
}

.d5 {
    background: blue;
}

.t1 {
    left: 0;
}

.t2 {
    left: 200px;
}

.t3 {
    left: 400px;
}

.p1 {
    bottom: 0px;
}

.p2 {
    bottom: 35px;
}

.p3 {
    bottom: 70px;
}

.p4 {
    bottom: 105px;
}

.p5 {
    bottom: 140px;
}

.p0 {
    bottom: 350px;
}

#moveCounter {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


button {
    background-color: rgb(73, 202, 202);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: blue;
}
